#tabbedPane {
	padding: 0px;
	margin: 5px 0px 0px;
	/*margin-bottom: 5px;*/
}

#tabbedPane ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tabbedPane ul li {
	float: left;
	margin-left: 0px;
	/*background: #464C54 url(../images/tab_off.jpg) repeat-x bottom;*/
}

#tabbedPane ul li#more {
	float: right;
	border-right-width: 1px !important;
	margin-right: -12px;
}

#tabbedPane ul li#more li {
	float: none;
}

#tabbedPane ul li#more a {
	border-right-width: 1px !important;
}

#tabbedPane ul li#more li a {
	float: none;
	/*border-bottom-width: 1px;*/
	border-right-width: 0px !important;
	border-left-width: 0px !important;
}

#tabbedPane ul li a {
	display: block;
	padding: 9px 10px;
	/*font-weight:bold;*/
	/*color:#aaa;*/
	text-decoration: none;
	/*font-size:120%;*/
	text-align: center;
	/*color: #c29096;*/
	/*padding: 2px 10px;*/
	font-size: 100%; /*14px;*/
	/*text-transform: uppercase;*/
	border: solid #e8e8e8;
	border-width: 1px 0 0 1px;
	/*border-radius: 5px 5px 0 0 !important;*/
}

#tabbedPane ul li:last-child a, #tabbedPane ul li:nth-last-of-type(2) a {
	border-right-width: 1px;
}

#tabbedPane ul li:last-child a {
	border-left-width: 0 !important;
}

#tabbedPane ul li.active a, th.header {
	/*background:#ccc;*/
	/*color:#fff;*/
	color: #282E32;
	/*border: 1px solid #464C54;*/
	border-bottom: 2px solid white;
	margin-bottom: -2px;
	background: white url(../img/tab_on.jpg) repeat-x top;
}

#tabbedPane ul li a:hover {
	/*background-color: #2F343A;*/
	/*border-color: #2F343A;*/
}

/*#tabbedPane a{*/
/*text-decoration: none;*/
/*display: block;*/
/*padding-top: 4px;*/
/*padding-bottom: 4px;*/
/*padding-left: 30px;*/
/*margin: 0px 1px -1px 1px;*/
/*text-align: center;*/
/*background: #FFF;*/
/*float: left;*/
/*border: 1px solid #BBB;*/
/*color: #8d8d8d;*//*#2396a1;*/
/*background: #f6f6f6 no-repeat 5px center;*/
/*font-size: 11px;*/
/*border-radius: 5px 5px 0 0;*/

/* [disabled]border: 1px solid rgba(51,51,51,0.4);
font-size: 13px;
-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);*/
/*box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);*/
/*}*/

#tabbedPane ul li a > span {
	width: 100%;
	height: 22px;
	display: block;
	/*padding-top: 5px;*/
	margin-bottom: -5px;
}

/*a#visitn span:first-child{*/
/*background: url(/img/icons/visit.png) no-repeat 50%;*/
/*}*/
/*a#vitals span:first-child{*/
/*background: url(/img/icons/vitals.png) no-repeat 50%;*/
/*}*/
/*a#reminder span:first-child{*/
/*background: url(/img/icons/small-clock.png) no-repeat 50%;*/
/*}*/
/*a#rx_ span:first-child{*/
/*background: url(/img/icons/meds.png) no-repeat 50%;*/
/*}*/
/*a#regimens span:first-child{*/
/*background: url(/img/icons/meds.png) no-repeat 50%;*/
/*}*/
/*a#allerg span:first-child{*/
/*background: url(/img/icons/allergens.png) no-repeat 50%;*/
/*}*/
/*a#pre-con span:first-child{*/
/*background: url(/img/icons/allergens.png) no-repeat 50%;*/
/*}*/
/*a#labs span:first-child{*/
/*background: url(/img/icons/meds.png) no-repeat 50%;*/
/*}*/
/*a#billings span:first-child{*/
/*background: url(/img/icons/billings.png?t=8) no-repeat 50%;*/
/*}*/

/*a#tab-1 span:first-child{*/
/*background: url(/img/icons/insurance-icon-1.png) no-repeat 50%;*/
/*}a#tab-2 span:first-child{*/
/*background: url(/img/icons/insurance-icon-2.png) no-repeat 50%;*/
/*}a#tab-3 span:first-child{*/
/*background: url(/img/icons/insurance-icon-3.png) no-repeat 50%;*/
/*}*/
/*#tabbedPane a.active {*/
/*color: #11354f;*/
/*border-bottom-color: #FFF;*/
/*background-color: #FFF;*/
/*}*/

/*demo-graph block*/
.line {
	/*width:100%;*/
	padding: 5px;
	display: block;
	clear: both;
	margin: 3px;
	border-bottom: 1px solid #f0f0f0;
	border-radius: 3px;
	/*overflow: hidden;*/
	/*overflow=hidden affects the zoom of the passport within the container*/
}
.line:after{
	content:'';
	clear:both;
	display:block;
}

#profile_container .line div {
	display: inline-block;
	padding: 0 2px;
	/*margin-right:2px;*/
}

/*#profile_container .line:nth-child(1) {vertical-align:middle;}*/
/*#profile_container .line:nth-child(2) div:nth-child(1) {width:18%;}*/
#profile_container .line:nth-child(2) div:nth-child(2), #profile_container .line:nth-child(2) div:nth-child(3) {
	vertical-align: top; /*width:38%*/
}

#profile_container .line:nth-child(2) {
	border-color: #f0f0f0
}

#profile_container .line:nth-child(2) table {
	float: right;
}

#profile_container {
	/*border: 1px solid #bbb;*/
	background-color: #fff;
	/*box-shadow: #999 0px 0px 3px;*/
	/* [disabled]padding: 6px 0px; */
}

/*end demograph block*/

img.passport {
	border: 1px solid #CCC;
	padding: 3px;
}

.uppercase {
	text-transform: uppercase
}

table.patient_more_details tr {
	border-bottom: 1px dotted gray;
}

table.patient_more_details {
	border: none;
	width: 100%;
}

table.patient_more_details th, table.patient_more_details td {
	padding: 5px;
	text-align: left
}

.heent_Table {
	width: 100%
}

.heent_Table tr {
	border-bottom: 1px solid #efefef;
}

.heent_Table tr td:nth-child(2) {
	width: 25%
}

.heent_Table tr td:last-child {
	width: 50% !important;
}

.heent_Table tr * {
	border-bottom: 1px solid #eee;
	padding: 5px;
}

.heent_Table tr:not(:first-child) {
}

.head-link {
	cursor: pointer;
}

.head-link + tr:not(.head-link) {
	border: solid #ddd;
	border-width: 0 5px;
}

.item_block {
	margin-right: 10px !important;
}

.item_block span:first-child {
	font-weight: bold;
	padding-right: 7px;
	border-right: 1px solid #ededed;
}

.item_block span:last-child {
	padding-left: 7px;
}

.admitted {
	color: #F00;
}

#idCard {
	margin: 10px;
	border: 1px solid #c1c1c1;
	background: linear-gradient(to bottom, #FFFEFD 0%, rgba(221, 219, 220, 0.56) 100%) repeat scroll 0 0 transparent;
	width: 550px;
}

#idCard table * {
	background: transparent !important;
}

#idCard table table tr {
	border-bottom: 1px solid #c2ccd1;
	line-height: 10px;
}

.allergen_icon {
	width: 70px !important;
	height: 35px;
	background: url("/img/allergy.png");
	/*text-align:center;*/
}

.line.fix-me.scroll-to-fixed-fixed {
	background-color: #fff;
	box-shadow: 0 8px 5px -5px rgba(20, 20, 20, 0.3);
	margin: -2px 2px;
	border-bottom: 1px solid #b0b0b0 !important;
}

.notif-icons {
	width: auto !important;
	font-size: 1.5em;
	line-height: 35px;
	padding: 0 10px;
	background-color: #f6f6f6;
}

.notif-icons:hover {
	background-color: #e3e3e3
}